* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0 20px;
    background: #090505;
    color: #fff;
    background-size: 400px;
}

#header {
    background-image: url(https://images.pexels.com/photos/2653362/pexels-photo-2653362.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2);
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 10px;
    padding: 190px;
}

.containter {
    padding: 15px 10%;
}

nav {
    height: 100%;
    width: 100%;
    position: sticky;
    top: 0px;
}

nav ul {
    display: flex;
    margin: 0;
    padding: 0;
    background-color: rgba(0, 0, 0, 0.724);
    border-top: 1px solid rgba(255, 225, 225, 0.197);
    border-bottom: 1px solid rgb(255, 225, 225, 0.197);
    border-radius: 5px;
    justify-content: center;
}

nav ul li {
    list-style: none;
}

nav ul li a {
    display: block;
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 23px;
    border-radius: 5px;
}

nav ul li a:hover {
    background-color: #e32929;
}

.logo {
    padding: 0;
    margin: 0;
    width: 220px;
    position: absolute;
}

.header-text {

    font-size: 25px;
    text-align: center;
}

.header-text h1 {
    margin: 3px 20px;
    font-size: 50px;
    padding: 0;
}

.header-text h1 span {
    color: #ff0000;
}

.header-text-title-span {
    font-size: 35px;
    text-align: center;
}

/* -------- about --------*/
#about-me {
    padding: 80px 0;
    color: #ababab;
    margin: 0;
}

.about-col-1 {
    flex-basis: 35%;
}

.about-col-1 img {
    width: 100%;
    border-radius: 10px;
    background-color: #eb3f3f;
    flex-basis: 55%;
}

.about-col-2 {
    flex-basis: 60%;
}

.about-col-2 p {
    font-size: 17px;
    line-height: 25px;
}

.sub-title {
    font-size: 60px;
    font-weight: 600;
    color: #fff;
    margin: auto;
    text-align: center;
}

/*----about me 2-----*/
.flex-container {
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 40px;
    margin-top: 50px;
    margin-bottom: 0;
    flex-basis: auto;
    flex-wrap: nowrap;
    text-align: center;
}

.flex-container .h2-flex {
    position: absolute;
    text-align: center;
    font-size: 30px;
    font-weight: 500;
    margin: 0 10px 40 10px;
    padding: 30px;
}

.flex-container div {
    padding: 40px 10px;
    background: #3636365d;
    border: 1px solid rgb(66, 66, 66);
    box-shadow: 5px 10px 8px #ad5656;
    border-radius: 10px;
    margin-top: 20px;
    margin-bottom: 10px;
    font-size: 15px;
    font-weight: 300;
}

.flex-container img {

    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    margin-top: 10px;
    display: block;
    height: 70px;
    width: 70px;
}

.flex-container div h2 {
    text-align: center;
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 15px;
}

.item-3 {
    display: flex;
    flex-grow: 2;
    justify-content: center;
    align-items: center;
    text-align: center;
    line-height: 18px;
}

.item-3 section {
    margin-left: auto;
    margin-right: auto;
}

.item-3 h6 {
    font-size: 15px;
}

.item-1 {
    flex-basis: 50%;
    flex-grow: 3;
}

.item-1 p {
    font-size: 17px;
    line-height: 30px;
}

.item-2 {
    flex-basis: 50%;
    flex-grow: 1;
}

.item-2 p {
    font-size: 17px;
    line-height: 30px;
}

.flex-container span {
    line-height: 30px;
    color: #D94B4B;
    text-decoration: underline;
}

/*------ contact ------*/
#contact {
    display: flex;
    margin-top: 100px;
}

.row {
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    padding: 60px 0px;
}

.contact-left {
    flex-basis: 45%;
    padding: 15px;
}

.contact-left.header-text {
    margin: 15px;

}

.contact-right {
    flex-basis: 40%;
    text-align: center;
    align-items: center;
}

.contact-right p {
    font-size: 14px;
    padding: 5px;
    display: flex;
    flex-direction: column;
}

.contact-right p img {
    width: 20px;
    height: 20px;
    margin: 15px auto 5px;

}

.media-icons {
    display: inline-flex;
    padding: 20px 14px;
}

.media-icons img {
    margin: 15px;
    width: 30px;
    height: 30px;
}

.btn {
    background: #e32929;
    border-radius: 6px;
    margin: 50px auto;
    width: fit-content;
    padding: 14px 50px;
    display: block;
    text-decoration: none;
    color: #fff;
    font-size: 18px;

}

.contact-left a {
    align-items: flex-end;
}

form {
    background: #e32929;
    display: flex;
    flex-direction: column;
    padding: 2vw 4vw;
    width: 90%;
    max-width: 600px;
    border-radius: 10px;
}

form input,
form textarea {
    border: 0;
    margin: 10px 0px;
    padding: 10px;
    outline: none;
    background: #f5f5f5;
}

form button {
    padding: 10px;
    background: #ffffff;
    color: #000000;
    font-size: 18px;
    border: 1px solid #000000;
    border-radius: 10px;
    outline: none;
    cursor: pointer;
    width: 150px;
    margin: 20px auto 0;
}

/*------profile-----*/
.profile-title {
    text-align: center;
    margin: 0 10px 30 10px;
    padding: 60px 30px 30px;
}

.profile-row-list {
    padding: 100px;
    background: #3636365d;
    border: 2px solid rgb(66, 66, 66);
    box-shadow: 5px 3px 4px #ad5656;
    border-radius: 10px;
}